$syntax-colors: (method, green), (variable, blue), (function, pink),
	(keyword, purple), (reserved, red), (object, yellow), (undefined, grey);

@each $name, $color in $syntax-colors {
	.code-color-#{$name} {
		color: $color;
	}
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.code-color-initialize-portfolio {
  animation: blink 1s infinite linear;
}