@import '../../style/App.scss';
@import '../../hooks/utils/codeColor.scss';

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

$code-font: 'Fira Code', monospace;

@keyframes blink {
	50% {
		opacity: .2;
	}
}

.cursor::after {
	content: '|';
	animation: blink 500ms infinite;
}

.type-effect {
	font-family: $code-font;
	color: white;
}

.hidden {
	visibility: hidden;
}

.loading-text {
	font-family: $code-font;
	animation: blink 1s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite alternate;
	white-space: pre;
	text-align: center;
	width: 100%;
}

.offscreen {
	font-family: $code-font;
	position: absolute;
	top: -100px;
}